
<div class = "teacher-attendance container text-center">
  <h2>Attendance</h2>
  <hr/>
  <div style="display:inline-block; min-height:290px;" ng-init="loadCalandarEvents()">
    <datepicker ng-model="dt" show-weeks="false" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
  </div>
  <hr/>
  <div class="row" ng-repeat="student in students" ng-show="student.profile.type !== 'teacher'">
    <div class="col-sm-6 panel" ng-class="{'panel-success':getStatus(student._id)==='success', 'panel-warning':getStatus(student._id)==='warning', 'panel-danger':getStatus(student._id)==='danger', 'panel-default':getStatus(student._id)==='default'}" ng-click="editName = true" ng-hide="editName">
      <h4>{{ student.profile.firstName ? student.profile.firstName + ' ' + student.profile.lastName : student.emails[0].address }}</h4>
    </div>
    <div class="col-sm-6" ng-show="editName">
      <div class="col-xs-5 col-sm-5">
        <input class="form-control" type="text" name="firstName" placeholder="First Name" ng-model="student.profile.firstName">
      </div>
      <div class="col-xs-5 col-sm-5">
        <input class="form-control" type="text" name="lastName" placeholder="Last Name" ng-model="student.profile.lastName">
      </div>
      <span ng-click="editName = false">x</span>

    </div>
    <div class="col-sm-6">
      <a href="" class="btn btn-lg btn-success" ng-click="markAttendance(student._id, 'full')">Full</a>
      <a href="" class="btn btn-lg btn-warning" ng-click="markAttendance(student._id, 'partially')">Partial</a>
      <a href="" class="btn btn-lg btn-danger" ng-click="markAttendance(student._id, 'absent')">Absent</a>
    </div>
    <hr class="col-xs-12"/>
  </div>
</div>
